<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owen.mapper.PermissionMapper">
    <select id="findByRoleIds" resultType="com.owen.entity.Permission">
        select tp.* from t_permission tp
        left join role_permission rp on rp.pid = tp.id
        where rp.rid in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>
</mapper>